<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="classpath:ftl/"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean class="com.donggua.springmvc.common.util.FreemarkUtil">
        <property name="freeMarkerConfigurer" ref="freeMarkerConfig"/>
    </bean>
</beans>